* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body{ 
  background-color: hsla(266, 100%, 50%, 0.257);
  padding: 20px;
}
header{
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 5px solid hsla(0, 0%, 100%, 0.918);
  margin-bottom: 30px;
}
.card{
  border: 1px solid hsla(276, 100%, 50%, 0.153);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.347);
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  transition: 0.3s all;
}
.card .title{
  font-size: 20pt;
  border-bottom: 2px solid rgba(255, 255, 255, 0.411) ;
  margin-bottom: 10px;
}
.card p{
  letter-spacing: 0.5px;
  line-height: 18pt;
}

section{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card:hover{
  background-color: hsla(290, 100%, 50%, 0.095);
  border: 1px solid hsla(0, 0%, 0%, 0.404);
}
.info{
  margin-bottom: 10px;
}
.card .contact{
  margin-bottom: 10px;
}
span{
  font-weight: 700;
}
li{
  margin-left: 40px;
}


